body {
    background-color: black;
    font-family: Arial, sans-serif;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

button {
    background-color: cornflowerblue;
    color: #fff;
    border: none;
    padding: 20px 45px;
    cursor: pointer;
    border-radius: 10px;
    font-size: 20px; 
    font-family: 'Komika Title - Axis', cursive; 
}


#videoContainer {
    display: none;
}
